body {
  background-color: hsl(148, 38%, 91%);
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: hsl(187, 24%, 22%);
  position: relative;
}

button {
  margin: 20px 0;
  width: 70%;
}

form .reg_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
}

form .input_box {
  width: 46%;
  margin: 0 10px;
  padding: 10px 0;
}

form .query_label {
  font-size: 16px;
}

form .query_container {
  border-color: hsl(186, 15%, 59%);
  border-style: solid;
  border-width: 1.5px;
  height: 40px;
  width: calc(48% - 20px);
  border-radius: 5px;
  padding-left: 20px;
}

form .input_box.query {
  width: 100%;
}

form .input_box.message {
  width: 100%;
}

form .input_box.email {
  width: 100%;
}

form .input_box.consent {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

form .input_box .query_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input {
  border-color: hsl(186, 15%, 59%);
  border-style: solid;
  border-width: 1.5px;
}

input.field {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

input.message {
  width: 100%;
  height: 100px;
}

.form_container {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  min-height: 500px;
  max-height: fit-content;
  justify-content: center;
}

.form_container h4 {
  font-weight: 700;
}

span.star {
  margin: 10px;
  color: hsl(169, 82%, 27%);
}

p {
  display: none;
  font-size: 12px;
  color: hsl(0, 66%, 54%);
}

.hidden {
}

button.btn {
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: hsl(169, 82%, 27%);
  width: 100%;
  height: 40px;
}

input:hover {
  border-color: hsl(169, 68%, 52%);
  border-width: 1.7px;
}

input:focus {
  outline: none;
  border-color: hsl(169, 68%, 52%);
  border-width: 1.7px;
}

.query_container:hover {
  border-color: hsl(169, 68%, 52%);
  border-width: 1.7px;
}

.query_container:focus {
  border-color: hsl(169, 68%, 52%);
  border-width: 1.7px;
  background: hsl(169, 91%, 79%);
}

.checkbox {
  vertical-align: middle;
}

button.btn:hover {
  background-color: hsl(188, 90%, 12%);
}

.query_container:hover {
  background-color: rgb(189, 241, 185);
}

.queryBk {
  background-color: rgb(189, 241, 185);
}

.success {
  display: none;
  top: -60px;
  left: 35%;
  right: 35%;
  position: absolute;
  background-color: hsl(169, 82%, 27%);
  width: 350px;
  height: 100px;
  border-radius: 20px;
  padding: 7px;
}

.success h4 {
  margin-left: 20px;
  color: white;
  font-size: 13px;
}
.success h5 {
  color: white;
  font-size: 13px;
  text-align: center;
}
